body {
    background-color:cornflowerblue;
}

.editor-container {
    width: 500px;
    height: 400px;
    margin: 20px auto;
    position: relative;
    background-color: #011e3a;
    padding: 40px;
}

#editor {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    font-size: 18px;
}